<h1>Listing Articles</h1>

<table>
	<tr>
		<th>Title</th>
		<th>Text</th>
	</tr>

<% @articles.each do |article| %>
	<tr>
		<td><%= article.title %></td>
		<td><%= article.text %></td>
		<td><%= link_to 'Show', article_path(article) %></td>
		<td><%= link_to 'Editar', edit_article_path(article) %></td>
		<td><%= link_to 'Deletar', article_path(article), 
				method: :delete, 
				data: { confirm: 'Are you sure?' } %></td>
	</tr>
<% end %>
</table>

<%= link_to 'Inserir mais informações', new_article_path %>
<%= link_to 'Errei, melhor voltar', hello_index_path %>